.store-banner-wrapper {
  display: contents;
}
 
.store-banner-store-banner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.store-banner-image1 {
  width: 135px;
  object-fit: cover;
}
 
.store-banner-image2 {
  width: 135px;
  object-fit: cover;
  margin-left: var(--dl-layout-space-halfunit);
}

.primary-button-wrapper {
  display: contents;
}
 
.primary-button-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.primary-button-button {
  color: var(--dl-color-gray-white);
  align-self: center;
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: 32px;
  border-radius: var(--dl-layout-radius-radius6);
  padding-right: 32px;
  padding-bottom: 12px;
  background-color: var(--dl-color-purple-default);
}
 
.primary-button-button:hover {
  background-color: var(--dl-color-purple-900);
}
 
.primary-button-button:active {
  background-color: var(--dl-color-purple-1000);
}
 
.primary-buttonroot-class-name {
  display: none;
}
 
.primary-buttonroot-class-name1 {
  display: none;
}
 
.primary-buttonroot-class-name2 {
  display: none;
}

.feature-card-wrapper {
  display: contents;
}
 
.feature-card-container {
  width: 320px;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.feature-card-image {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  object-fit: cover;
}
 
.feature-card-text1 {
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
}
 
.feature-card-text2 {
  text-align: center;
}

.feature-card-wrapper-xrw2 {
  display: contents;
}
 
.feature-card-container1 {
  width: 320px;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.feature-card-image1 {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  object-fit: cover;
}
 
.feature-card-text3 {
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
}
 
.feature-card-text4 {
  text-align: center;
}

.feature-card-wrapper-f0rt {
  display: contents;
}
 
.feature-card-container2 {
  width: 320px;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.feature-card-image2 {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  object-fit: cover;
}
 
.feature-card-text5 {
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
}
 
.feature-card-text6 {
  text-align: center;
}

.feature-card-wrapper-yxwb {
  display: contents;
}
 
.feature-card-container3 {
  width: 320px;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.feature-card-image3 {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  object-fit: cover;
}
 
.feature-card-text7 {
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
}
 
.feature-card-text8 {
  text-align: center;
}

.feature-card-wrapper-dtxz {
  display: contents;
}
 
.feature-card-container4 {
  width: 320px;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.feature-card-image4 {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  object-fit: cover;
}
 
.feature-card-text9 {
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
}
 
.feature-card-text10 {
  text-align: center;
}

.feature-card-wrapper-ag80 {
  display: contents;
}
 
.feature-card-container5 {
  width: 320px;
  margin: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.feature-card-image5 {
  width: var(--dl-layout-size-doubleunit);
  height: var(--dl-layout-size-doubleunit);
  object-fit: cover;
}
 
.feature-card-text11 {
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
}
 
.feature-card-text12 {
  text-align: center;
}

.testimonials-card-wrapper {
  display: contents;
}
 
.testimonials-card-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.testimonials-card-image1 {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.testimonials-card-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.testimonials-card-image2 {
  top: 81px;
  left: 46px;
  right: auto;
  width: 15px;
  bottom: auto;
  object-fit: cover;
}
 
.testimonials-card-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.testimonials-card-text1 {
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.testimonials-card-text3 {
  color: var(--dl-color-gray-700);
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
  font-size: 18px;
}

.testimonials-card-wrapper-jiu2 {
  display: contents;
}
 
.testimonials-card-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.testimonials-card-image3 {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.testimonials-card-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.testimonials-card-image4 {
  top: 81px;
  left: 46px;
  right: auto;
  width: 15px;
  bottom: auto;
  object-fit: cover;
}
 
.testimonials-card-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.testimonials-card-text4 {
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.testimonials-card-text6 {
  color: var(--dl-color-gray-700);
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}

.testimonials-card-wrapper-91zv {
  display: contents;
}
 
.testimonials-card-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.testimonials-card-image5 {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.testimonials-card-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.testimonials-card-image6 {
  top: 81px;
  left: 46px;
  right: auto;
  width: 15px;
  bottom: auto;
  object-fit: cover;
}
 
.testimonials-card-container9 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.testimonials-card-text7 {
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.testimonials-card-text9 {
  color: var(--dl-color-gray-700);
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}

.stats-card-wrapper {
  display: contents;
}
 
.stats-card-container1 {
  width: 200px;
  margin: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
 
.stats-card-image {
  width: 32px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
}
 
.stats-card-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.stats-card-wrapper-qkjv {
  display: contents;
}
 
.stats-card-container3 {
  width: 200px;
  margin: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
 
.stats-card-image1 {
  width: 32px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
}
 
.stats-card-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.stats-card-wrapper-6ik6 {
  display: contents;
}
 
.stats-card-container5 {
  width: 200px;
  margin: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
 
.stats-card-image2 {
  width: 32px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
}
 
.stats-card-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.stats-card-wrapper-t1et {
  display: contents;
}
 
.stats-card-container7 {
  width: 200px;
  margin: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
 
.stats-card-image3 {
  width: 32px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
}
 
.stats-card-container8 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.link-icon-button-wrapper {
  display: contents;
}
 
.link-icon-button-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.link-icon-button-button {
  color: var(--dl-color-purple-default);
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
}
 
.link-icon-button-icon1 {
  fill: var(--dl-color-purple-default);
  width: 20px;
  align-self: center;
}
 
.link-icon-buttonroot-class-name {
  display: none;
}
 
.link-icon-buttonroot-class-name1 {
  display: none;
}
 
.link-icon-buttonroot-class-name2 {
  display: none;
}

.store-banner-wrapper-pn7e {
  display: contents;
}
 
.store-banner-store-banner1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.store-banner-image3 {
  width: 135px;
  object-fit: cover;
}
 
.store-banner-image4 {
  width: 135px;
  object-fit: cover;
  margin-left: var(--dl-layout-space-halfunit);
}

.home-container10 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-navlink1 {
  display: contents;
}
 
.home-image10 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
 
.home-menu1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-link10 {
  transition: 0.3s;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.home-link10:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-link11 {
  transition: 0.3s;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.home-link11:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-text10 {
  display: none;
  transition: 0.3s;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-text10:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-text11 {
  display: none;
  transition: 0.3s;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-text11:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-navlink2 {
  transition: 0.3s;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.home-navlink2:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-text12 {
  display: none;
  transition: 0.3s;
}
 
.home-text12:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-icon10 {
  width: 24px;
  height: 24px;
  display: none;
}
 
.home-container11 {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-menu2 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-layout-space-unit);
}
 
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-logo2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-image11 {
  width: 100px;
  object-fit: cover;
}
 
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-icon15 {
  width: 24px;
  height: 24px;
}
 
.home-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text13 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text13:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-text14 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text14:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-text15 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text15:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-text16 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text16:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-text17 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text17:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-text18 {
  transition: 0.3s;
}
 
.home-text18:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container12 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-link12 {
  display: contents;
}
 
.home-container13 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-icon17 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-layout-size-unit);
  height: var(--dl-layout-size-unit);
  transition: 0.3s;
}
 
.home-icon17:hover {
  fill: var(--dl-color-purple-default);
}
 
.home-link13 {
  display: contents;
}
 
.home-container14 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-icon19 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-layout-size-unit);
  height: var(--dl-layout-size-unit);
  transition: 0.3s;
}
 
.home-icon19:hover {
  fill: var(--dl-color-pink-default);
}
 
.home-link14 {
  display: contents;
}
 
.home-container15 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-icon21 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-layout-size-unit);
  height: var(--dl-layout-size-unit);
  transition: 0.3s;
}
 
.home-icon21:hover {
  fill: var(--dl-color-turquoise-default);
}
 
.home-link15 {
  display: contents;
}
 
.home-container16 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-icon23 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-layout-size-unit);
  height: var(--dl-layout-size-unit);
  transition: 0.3s;
}
 
.home-icon23:hover {
  fill: var(--dl-color-orange-default);
}
 
.home-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.home-blur-background {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
 
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text19 {
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-image12 {
  width: 320px;
  object-fit: cover;
}
 
.home-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
 
.home-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
 
.home-left {
  top: 653px;
  left: 0px;
  right: auto;
  width: 420px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
  animation-name: fadeInLeft;
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-right {
  top: 441px;
  left: auto;
  right: 0px;
  width: 612px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
  animation-name: fadeInRight;
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-clients {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
}
 
.home-divider1 {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);;
}
 
.home-image13 {
  width: 100px;
  object-fit: cover;
}
 
.home-image14 {
  width: 100px;
  object-fit: cover;
}
 
.home-image15 {
  width: 100px;
  object-fit: cover;
}
 
.home-image16 {
  width: 100px;
  object-fit: cover;
}
 
.home-divider2 {
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  bottom: 0px;
  height: 1px;
  position: absolute;
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);;
}
 
.home-features1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text24 {
  max-width: 500px;
  text-align: center;
}
 
.home-features2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: center;
  background-color: var(--dl-color-turquoise-100);
}
 
.home-container18 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-container19 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image17 {
  top: -22px;
  left: -65px;
  right: auto;
  width: 100px;
  bottom: auto;
  z-index: 10;
  position: absolute;
  object-fit: cover;
}
 
.home-text25 {
  z-index: 100;
  max-width: 500px;
}
 
.home-container20 {
  flex: 0 0 auto;
  width: 350px;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
  font-size: 18px;
}
 
.home-container21 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-doubleunit);
  flex-direction: column;
}
 
.home-container22 {
  width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-container23 {
  width: 300px;
  display: flex;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: flex-start;
  flex-direction: column;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-achievements {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-container24 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text32 {
  white-space: pre-wrap;
}
 
.home-container25 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-container26 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-container27 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-feature1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-container28 {
  flex: 0 0 auto;
  width: 540px;
  height: 540px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #ffbef5;
}
 
.home-image18 {
  width: 360px;
  margin-top: 100px;
  object-fit: cover;
}
 
.home-container29 {
  flex: 1;
  margin: var(--dl-layout-space-doubleunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text37 {
  max-width: 400px;
  margin-top: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-feature2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container30 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-text48 {
  max-width: 400px;
  margin-top: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-image19 {
  width: 100%;
  height: 400px;
  margin-top: var(--dl-layout-space-tripleunit);
  object-fit: cover;
  animation-name: slideInRight;
  animation-delay: 0s;
  animation-duration: 1500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
 
.home-cta {
  width: 100%;
  display: none;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-turquoise-default);
}
 
.home-container31 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-container32 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text50 {
  max-width: 500px;
}
 
.home-text51 {
  max-width: 400px;
  margin-top: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text52 {
  white-space: pre-wrap;
}
 
.home-container33 {
  width: 520px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-image20 {
  top: -100px;
  left: auto;
  right: var(--dl-layout-space-doubleunit);
  width: 232px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
 
.home-image21 {
  top: auto;
  left: var(--dl-layout-space-doubleunit);
  right: auto;
  width: 232px;
  bottom: -100px;
  position: absolute;
  object-fit: cover;
}
 
.home-footer {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
 
.home-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.home-image22 {
  object-fit: cover;
}
 
.home-container35 {
  display: flex;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-navlink3 {
  transition: 0.3s;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-navlink3:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-navlink4 {
  transition: 0.3s;
  white-space: nowrap;
  text-decoration: none;
}
 
.home-navlink4:hover {
  color: var(--dl-color-turquoise-default);
}
 
.home-divider3 {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: var(--dl-color-gray-white);
}
 
.home-container36 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-text53 {
  color: var(--dl-color-gray-300);
  margin-top: var(--dl-layout-space-unit);
}
 
.home-container37 {
  flex: 0 0 auto;
  width: 200px;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container38 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-icon25 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-layout-size-unit);
  height: var(--dl-layout-size-unit);
  transition: 0.3s;
}
 
.home-icon25:hover {
  fill: var(--dl-color-purple-default);
}
 
.home-container39 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-icon27 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-layout-size-unit);
  height: var(--dl-layout-size-unit);
  transition: 0.3s;
}
 
.home-icon27:hover {
  fill: var(--dl-color-pink-default);
}
 
.home-container40 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-icon29 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-layout-size-unit);
  height: var(--dl-layout-size-unit);
  transition: 0.3s;
}
 
.home-icon29:hover {
  fill: var(--dl-color-turquoise-default);
}
 
.home-container41 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.home-icon31 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-layout-size-unit);
  height: var(--dl-layout-size-unit);
  transition: 0.3s;
}
 
.home-icon31:hover {
  fill: var(--dl-color-orange-default);
}
 
@media(max-width: 991px) {
  .home-container11 {
    display: none;
  }
  .home-hero {
    height: auto;
    flex-direction: column;
  }
  .home-container17 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
  .home-text19 {
    text-align: center;
  }
  .home-container18 {
    flex-direction: column;
  }
  .home-container20 {
    align-self: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
  .home-container21 {
    align-items: center;
    margin-left: 0px;
  }
  .home-container23 {
    width: 350px;
  }
  .home-achievements {
    flex-direction: column;
  }
  .home-container25 {
    margin-top: var(--dl-layout-space-doubleunit);
  }
  .home-feature1 {
    flex-direction: column;
  }
  .home-container29 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container30 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container33 {
    display: none;
  }
}
 
@media(max-width: 767px) {
  .home-menu1 {
    display: none;
  }
  .home-burger-menu {
    display: block;
  }
  .home-text19 {
    font-size: 50px;
    text-align: center;
  }
  .home-clients {
    justify-content: center;
  }
  .home-image13 {
    margin: var(--dl-layout-space-unit);
  }
  .home-image14 {
    margin: var(--dl-layout-space-unit);
  }
  .home-image15 {
    margin: var(--dl-layout-space-unit);
  }
  .home-image16 {
    margin: var(--dl-layout-space-unit);
  }
  .home-text23 {
    font-size: 40px;
  }
  .home-container19 {
    align-items: center;
  }
  .home-image17 {
    top: -2px;
    left: 21px;
    right: auto;
    width: 50px;
    bottom: auto;
  }
  .home-text25 {
    font-size: 40px;
    text-align: center;
  }
  .home-text31 {
    font-size: 40px;
  }
  .home-text47 {
    font-size: 40px;
  }
  .home-text49 {
    font-size: 40px;
  }
  .home-container35 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-container36 {
    flex-direction: column;
  }
  .home-text53 {
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .home-container11 {
    display: none;
  }
  .home-bot {
    width: 100%;
  }
  .home-text23 {
    text-align: center;
  }
  .home-text24 {
    text-align: center;
  }
  .home-container24 {
    align-items: center;
  }
  .home-text31 {
    text-align: center;
  }
  .home-text35 {
    text-align: center;
  }
  .home-container26 {
    flex-direction: column;
  }
  .home-container27 {
    flex-direction: column;
  }
}
